* {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 0;
}


/* change calendar input icon to white */

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

main {
    margin-top: 3rem;
}

#intro {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

#search-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

#search-destination {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(54, 112, 99);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
}

#button-addon2 {
    border-radius: .25rem;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 0 !important;
    margin-top: 0;
}

p {
    width: 50%;
    margin: auto;
    font-size: x-large;
}

#date,
#money {
    width: 75%;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

input,
li {
    color: rgb(17, 121, 103) !important;
    text-align: center;
}

.app-description {
    color: rgb(17, 121, 103);
    background-color: rgb(255, 255, 255, .75);
    border-radius: 1rem;
    padding: 1rem;
}

.input-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#search-date,
#search-budget {
    border-bottom: solid white;
    color: white !important;
}

::placeholder {
    color: rgb(255, 255, 255)!important;
    opacity: 95%;
}

#origin-dropdown,
#destination-dropdown {
    margin-top: 1rem;
    width: 75%;
    display: flex;
    justify-content: center;
}

#inner-input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 1rem;
    border: solid white 5px;
    padding: .5rem;
    background-color: rgb(17, 121, 103, .5);
}

#find-title {
    width: 100%;
}

.modal-close,
#modal-h4,
#modal-p {
    color: rgb(17, 121, 103) !important;
}

@media only screen and (max-width: 720px) {
    main {
        margin-bottom: 5rem;
    }
    hr {
        display: none;
    }
    .app-description {
        display: none;
    }
    p {
        width: 100%;
        margin: auto;
        font-size: x-large;
    }
    #origin-dropdown,
    #destination-dropdown {
        margin-top: 1rem;
        width: 75%;
        display: flex;
        justify-content: center;
    }
    h1 {
        margin-top: 0;
    }
    #inner-input-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        border-radius: 1rem;
        border: solid white 5px;
        padding: .5rem;
        background-color: rgb(17, 121, 103, .5);
    }
    .footer {
        position: inherit;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
}