* {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 0;
}


/* Loader styling */

.loading-overlay {
    display: none;
    background: rgba(26, 26, 26, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
}

.overlay-img-container {
    display: none;
    position: fixed;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.loading-overlay-img {
    z-index: 1;
    /* width: 200px;
    height: 100px; */
    border-radius: 5%;
}


/* change calendar input icon to white */

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

main {
    margin-top: 3rem;
}

#intro {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

#search-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

#search-destination {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(54, 112, 99);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
}

#button-addon2 {
    border-radius: .25rem;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

p {
    width: 50%;
    margin: auto;
    font-size: x-large;
}

#date {
    width: 75%;
    padding-top: 1rem;
}

#money {
    width: 75%;
}

#date,
#money {
    text-align: start;
}

label.active {
    padding-top: 1rem;
    margin-bottom: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: large;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

input,
li {
    color: rgb(17, 121, 103) !important;
    text-align: center;
}

.app-description {
    color: rgb(17, 121, 103);
    background-color: rgb(255, 255, 255, .75);
    border-radius: 1rem;
    padding: 1rem;
}

.input-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#search-date,
#search-budget {
    border-bottom: solid white;
    color: white !important;
}

::placeholder {
    color: rgb(255, 255, 255)!important;
    opacity: 95%;
}

#origin-dropdown,
#destination-dropdown {
    margin-top: 1rem;
    width: 75%;
    display: flex;
    justify-content: center;
}

#inner-input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 1rem;
    border: solid white 5px;
    padding: .5rem;
    background-color: rgb(17, 121, 103, .5);
}

#find-title {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
}

.modal-close,
#modal-h4,
#modal-p {
    color: rgb(17, 121, 103) !important;
}

#showing-destination {
    font-size: 3rem;
}

@media only screen and (max-width: 1300px) {
    main {
        margin-bottom: 5rem;
        height: auto;
    }
    hr {
        display: none;
    }
    .app-description {
        display: none;
    }
    p {
        width: 100%;
        margin: auto;
        font-size: x-large;
    }
    #origin-dropdown,
    #destination-dropdown {
        margin-top: 1rem;
        width: 75%;
        display: flex;
        justify-content: center;
    }
    h1 {
        margin-top: 0;
    }
    #inner-input-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        border-radius: 1rem;
        border: solid white 5px;
        padding: .5rem;
        background-color: rgb(17, 121, 103, .5);
    }
    .footer {
        position: inherit;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
}